.sfxonFormRow {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin: 15px 15px 0;
}

.sfxonFormRow.sfxonFormRowActionBar {
    background-color: var(--color-main-background);
    bottom: 0;
    margin-top: 0;
    padding-bottom: 15px;
    position: sticky;
    z-index: 10000;
}

.sfxonFormRow:not(.sfxonFormRowActionBar) {
    margin-bottom: 15px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.field :global(.input-field__input) {
    border-radius: 3px!important;
}

.field :global(.v-select) {
    background-color: var(--color-main-background);
}

.field :global(.vs__selected) {
    padding-left: 0!important;
}

.field :global(.vs--open) :global(.vs__selected) {
    padding-left: 0.25em!important;
}

.field :global(.vs__dropdown-toggle) {
    border-color: var(--input-border-box-shadow-light);
    border-radius: 3px;
    border-width: 0;
}

.fieldError {
    --input-border-color: var(--color-error-text, #cc0000);
    --color-main-background: var(--color-error, #FFE7E7);
    --color-main-text: var(--color-error-text, #cc0000);
}

/* Label */
.sfxonFormColumnLabel {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

@media (min-width: 786px) {
    .sfxonFormColumnLabel {
        flex: 0 0 30%;
        max-width: 30%;
    }
}

.label {
    align-items: center;
    cursor: default;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

/* actions */
.actions {
    display: flex;
    margin-top: 8px;
    justify-content: flex-end;
}

.actions :global(button) {
    border-radius: 3px!important;
    margin-left: 12px;
}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.sfxonFormColumnRow {
    display: flex;
    flex-direction: column; /* Mobile: untereinander */
    gap: 2px;
    padding-bottom: 6px;
}

@media (min-width: 1024px) {
    .sfxonFormColumnRow {
        flex-direction: row;
        gap: 8px;
    }
}

.sfxonFormColumnRowTextareaFull {
    height: 100%!important;
    width: 100%;
}

.sfxonFormSection {
    display: flex;
    background-color: var(--color-background-assistant);
    flex-direction: column;
    padding: calc(var(--app-navigation-padding)*2) calc(var(--app-navigation-padding)*2) var(--app-navigation-padding);
}

.sfxonFormRowActionBar > .sfxonFormSection {
    grid-column: span 3!important;
    filter: brightness(96%);
    max-width: none;
}

@media (min-width: 1700px) {
    .sfxonFormSection {
        flex-direction: row;
    }
}

.sfxonFormSectionSave {
    flex: 1;
    max-width: 100%;
    padding-top: 0;
}

.sfxonFormColumn {
    height: 100%;
    width: 100%;
}

/* input[type=text] */
.sfxonFormColumnInput {
    display: flex;
    width: 100%;
}

@media (min-width: 768px) {
    .sfxonFormColumnInput {
        flex: 1 1 70%;
    }
}

/* Success and Error */
.errorText {
    color: var(--color-element-error);
    margin-top: 2px;
}

/* Date Row */
.dateRow {
    align-items: center;
    display: flex;
}

.dateRow button {
    max-height: 1rem;
    margin-left: 6px;
    margin-top: 1px;
}

.dateRow :global(.native-datetime-picker) {
    flex-grow: 1;
}

/* Textarea */
.sfxonFormColumnRowDescription,
.sfxonFormColumnInputDescription {
    height: 100%;
}

.sfxonDescriptionInput {
    height: 100%!important;
    margin-top: 0!important;
}

.sfxonDescriptionInput :global(.textarea__main-wrapper) {
    height: 100%!important;
}

.sfxonDescriptionInput :global(textarea) {
    border-radius: 3px!important;
    height: 100%!important;
    margin-top: 0!important;
    padding-top: 1.6rem!important;
    width: 100%!important;
}

.sfxonDescriptionInput :global(.textarea__label) {
    inset-block-start: 6px!important;
}

.sfxonEditorFormDatePicker :global(.native-datetime-picker__input),
.sfxonEditorFormDatePickerBtn {
    border-radius: 3px!important;
}

.myfavNotificationContainer {
    margin: 0 15px;
}

.myfavNotificationContainer :global(.notecard) {
    margin-bottom: 0!important;
}

.sfxonFormColumnRowError {
    margin-bottom: 6px;
}